@import '../../styles/vars';

.persons {
  position: relative;

  &Title {
    font-size: $titleSize;
    line-height: $titleHeight;
    margin-top: 159px;
    margin-bottom: 102px;

    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 40px;
      margin: 60px 0 54px;
      text-align: center;
    }
  }

  &List {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    &Item {
      max-width: 270px;
      box-shadow: 0px 14px 50px rgba(132, 154, 182, 0.12);
      border-radius: 24px;
      overflow: hidden;
      display: flex !important;
      flex-direction: column-reverse;
      color: $black;
      cursor: pointer;

      @media (max-width: 768px) {
        max-width: 90%;
        margin: auto;
      }

      &:hover {
        opacity: 0.8 !important;
      }

      &TextWrapper {
        background: #fff;
        text-align: center;
        max-height: 153px;
      }

      &Title {
        font-size: $semiboldSize;
        line-height: $semiboldHeight;
        font-weight: bold;
        margin: 45px 0 8px;
      }

      &Subtitle {
        font-size: $regularSizeSSm;
        line-height: $regularHeightSSm;
        margin: 8px 20px 50px !important;
      }
    }
  }
}

.sliderDot {
  background-color: $black;
  width: 10px;
  height: 10px;
  opacity: 0.2;
  border-radius: 50%;
  margin-left: 10px;
  &:nth-child(1) {
    margin-left: 0;

    button {
      display: none;
    }
  }
  &Active {
    background-color: $blue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    &:nth-child(1) {
      margin-left: 0;

      button {
        display: none;
      }
    }
  }
}
