$black: #1e376a;
$white: #fff;
$blue: #4c68ef;
$gray: #f9fafe;

$titleSize: 36px;
$titleHeight: 54px;

$boldSize: 42px;
$boldHeight: 62px;

$boldSizeSm: 24px;
$boldHeightSm: 38px;

$regularSizeSm: 16px;
$regularHeightSm: 28px;

$regularSizeSSm: 14px;
$regularHeightSSm: 22px;

$regularSize: 20px;
$regularHeight: 36px;

$semiboldSize: 16px;
$semiboldHeight: 28px;
