@import '../../styles/vars';

.footer {
  z-index: 10;
  position: relative;
  box-shadow: 0px 70px 80px rgba(52, 69, 134, 0.05);
  border-radius: 50px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  padding: 120px 77px;

  @media (max-width: 768px) {
    margin-top: 60px;
    padding: 0;
    border-radius: 0;
  }

  &Title {
    color: $black;
    font-size: $titleSize;
    line-height: $titleHeight;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  &SubTitle {
    font-size: 20px;
    line-height: 36px;
    margin: 10px 0 40px;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 28px;
      margin: 20px 0 48px;
    }
  }

  &Avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  &Name {
    font-size: $boldSizeSm;
    line-height: $boldHeightSm;
    margin: 30px 0 6px;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 38px;
    }
  }

  &Position {
    font-size: $regularSizeSm;
    line-height: $regularHeightSm;
    margin: 0 0 40px;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 28px;
      margin: 0 0 30px;
    }
  }

  &Contacts {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;
    }

    &Contact {
      display: flex;
      align-items: center;
      svg {
        margin-right: 16px;
      }

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }

      &Text {
        color: $black;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        margin: 0;
      }
    }
  }

  &Nav {
    margin: 120px 0;
    display: flex;
    flex: 0.5;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      margin: 60px 0;
      text-align: center;
    }

    &Link {
      font-size: $regularSizeSSm;
      line-height: 22px;
      font-weight: bold;
      text-decoration: none;
      @media (max-width: 768px) {
        margin: 40px 0;
      }
    }

    &Img {
      height: 20px;
      margin-left: 8px;
    }

    &Wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

footer {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 60px;
  }
}
