@import '../../styles/vars';

.form {
  background: linear-gradient(5.94deg, #6378da 5.81%, #6a81e3 94.86%);
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 120px 200px 130px 100px;
  color: $white;
  margin-top: 90px;

  @media (max-width: 768px) {
    padding: 30px 20px 40px;
    margin: 90px 20px 0;
    border-radius: 24px;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }

  &Dates {
    display: flex;

    @media (max-width: 768px) {
      justify-content: space-between;
      margin-bottom: 30px;
    }

    &Block {
      margin-right: 60px;

      @media (max-width: 768px) {
        margin: 0;
      }
    }

    &Wrapper {
      max-width: 40%;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    &Label {
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      margin: 0;
    }
  }

  &Date {
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    margin: 0;
    margin-top: 6px;
  }

  &Title {
    color: $white;
    font-size: $titleSize;
    line-height: $titleHeight;
    margin: 0 0 60px;

    @media (max-width: 768px) {
      font-size: 28px;
      list-style: 40px;
      margin-bottom: 34px;
    }
  }

  &Fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }

    &Title {
      font-size: 20px;
      line-height: 36px;
      color: $white;
      margin: 0;
      margin-bottom: 22px;
    }
  }

  &Input {
    color: $white;
    background: #94a4ed;
    border: none;
    width: 100%;
    padding: 12px 24px 16px;
    border-radius: 12px;
    font-size: $regularSizeSm;
    line-height: 24px;
    margin-bottom: 14px;
    &::placeholder {
      color: $gray;
    }
    &:focus {
      outline: none;
    }
  }

  &Field {
    position: relative;
    display: flex;
    flex: 0.3;

    @media (max-width: 768px) {
      margin-bottom: 14px;
    }

    &Error {
      position: absolute;
      color: $gray;
      bottom: -30px;
      margin: 0;
    }
  }

  button {
    padding-left: 72px;
    padding-right: 72px;

    @media (max-width: 768px) {
      margin: 0;
      padding: 12px 0 16px;
      width: 100%;
    }
  }
}

.formWrapper {
  position: relative;
  z-index: 10;

  @media (min-width: 768px) {
    &::before {
      content: ' ';
      width: calc(100vw + 200%);
      left: -200%;
      top: 53%;
      height: 690px;
      background-color: $black;
      position: absolute;
      z-index: -1;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}
